<%- include('../includes/header.ejs', { titulo : 'Lista produtos'}) %>

<main>
    <h2>Adicionar Novo produto</h2>

    <form action="/Produtos/novo" method="POST" class="form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nome_produto">Nome do produto:</label>
            <input type="text" id="nome_produto" name="nome_produto" required>
        </div>
        <div class="form-group">
            <label for="foto_produto">Foto do produto:</label>
            <input type="file" id="file" name="file" required>
        </div>
        <div class="form-group">
            <label for="estoque">Estoque:</label>
            <input type="number" id="estoque" name="estoque" required>
        </div>
        <div class="form-group">
            <label for="estoque_minimo">Estoque minimo:</label>
            <input type="number" id="estoque_minimo" name="estoque_minimo" required>
        </div>
        <div class="form-group">
            <label for="valor">Valor:</label>
            <input type="number" id="valor" name="valor" required>
        </div>

        <div class="form-group">
            <label for="id_categoria"> Categoria</label>
            <select name="id_categoria" id="id_categoria">
              <% for (let categoria of categoriaCadastrados) {%>
              <option value="<%= categoria.id_categoria%>">
                <%= categoria.nome_categoria%>
              </option>
              <% } %>
            </select>
          </div>
      

        <button type="submit" class="btn btn-primary"> Adicionar </button>
        <a href="/Produtos" class="btn btn-secondary"> Cancelar </a>

    </form>
</main>

<%- include('../includes/footer.ejs') %>